@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&family=Roboto&family=Work+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
}
:root {
  /* color pallete */
  --primary-color: #1570ef;
  --bg-primary: #ffffff;
  --bg-secondary: #f6f6fb;
  --font-color: #8b8d97;
  --font-accent: #000000;
  --error: #f04438;
  --warning: #12b76a;
  --success: #f79009;
  --btn-hover: #1052af;
}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
