@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&family=Roboto&family=Work+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
}
:root {
  /* color pallete */
  --primary-color: #5570f1;
  --bg-primary: #ffffff;
  --bg-secondary: #eff2ff;
  --bg-terniary: #f4f5fa;
  --font-color: #53545c;
  --font-accent: #000000;
  --error: #e63d31;
  --success: #12b76a;
  --warning: #f79009;
  --btn-hover: #4154b1;
}

body,
.app {
  display: flex;
  width: 100vw;
}
.dashboard,
.members,
.books,
.employees,
.transactions,
.settings {
  background-color: var(--bg-terniary);
  color: var(--font-color);
  width: 100%;
}
/* DASHBOARD */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 1.25rem;
  overflow: scroll;
  height: 75vh;
}
.transactions-overview {
  grid-column: 2/ 3;
  grid-row: 1/ -1;
}
.members-overview,
.books-overview,
.transactions-overview {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70px 1fr;
  gap: 1rem 0;
  width: 100%;
}
.members-overview > h2,
.books-overview > h2,
.transactions-overview > h2 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  color: var(--font-color);
  font-size: 1rem;
}
.members-overview > h2 span,
.books-overview > h2 span,
.transactions-overview > h2 span {
  font-size: 1.5rem;
}
.members-overview > h2:first-child,
.books-overview > h2:first-child,
.transactions-overview > h2:first-child {
  background-color: var(--primary-color);
  color: var(--bg-primary);
  border-radius: 1rem 0 0 1rem;
}
/* DASHBOARD TABLES */
.dash-table {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  background-color: var(--bg-primary);
  width: 100%;
  padding: 1rem;
  min-height: 100px;
  border-radius: 1rem;
  text-wrap: wrap;
}
.dash-caption {
  padding-bottom: 0.5rem;
  text-align: left;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  height: 50px;
}
.row p:first-child {
  text-align: left;
}
.row p {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
/* Members section */
.members-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 80%;
  width: 100%;
  height: 500px;
}
.top-side-grid {
  background-color: var(--bg-primary);
  border-top: 1px solid rgba(166, 176, 206, 0.315);
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.top-side-grid form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
}
.top-side-grid form > input {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem 0.5rem 3rem;
  color: inherit;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid var(--font-color);
}
.top-side-grid form > button {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
}
.top-side-grid form > button {
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.top-side-grid > button {
  width: 300px;
  min-height: 40px;
  background-color: var(--primary-color);
  color: var(--bg-terniary);
  font-size: inherit;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.top-side-grid > button:hover {
  background-color: var(--btn-hover);
}

/* CUSTOM TABLE */
.custom-table {
  display: grid;
  grid-template-rows: repeat(50px, auto);
  background-color: var(--bg-primary);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
  max-width: 78vw;
  overflow: scroll;
}
.custom-caption {
  padding: 1rem 0;
}
.custom-header-table-row,
.custom-table-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}
.custom-header-table-row {
  font-weight: 800;
}
.custom-header-table-row p,
.custom-table-row p {
  width: 135px;
  text-align: center;
}
.custom-header-table-row p {
  height: 40px;
}
.custom-table-row p:first-child {
  font-size: 0.8rem;
  overflow: scroll;
}

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.493);
  width: 101vw;
  height: 101vh;
  overflow: hidden;
}
.modal > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  min-height: 500px;
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-primary);
  padding: 2rem;
}
.modal > form p {
  align-self: flex-start;
  padding: 0.5rem 0;
}
.modal > form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal > form > label > span {
  padding: 0.5rem 0;
}
.modal > form input {
  width: 100%;
  height: 35px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--font-color);
}
.modal > form > .form-btn {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: auto;
}
.form-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.modal .exit-btn {
  background-color: transparent;
  border: none;
}
.modal .exit-btn > i {
  font-size: 2rem;
}
.error-modal {
  color: var(--bg-primary);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30px);
  border-radius: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  width: 100px;
  padding: 0.5rem;
  animation: modalfade 3s;
}
@keyframes modalfade {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
.error-modal.succ {
  background-color: var(--success);
}
.error-modal.err {
  background-color: var(--error);
}
/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0.25rem;
  }
  .transactions-overview {
    grid-column: 1/ -1;
  }
  .custom-header-table-row p,
  .custom-table-row p {
    width: 100px;
  }
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .row {
    font-size: 0.8rem;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .members-overview > h2,
  .books-overview > h2,
  .transactions-overview > h2 {
    font-size: 0.8rem;
  }
  .members-overview > h2 span,
  .books-overview > h2 span,
  .transactions-overview > h2 span {
    font-size: 1.25rem;
  }
  .top-side-grid {
    flex-direction: column;
  }
  .top-side-grid > button {
    width: 100%;
  }
  .modal > form {
    top: 50%;
    transform: translate(-50%, -75%);
  }
}
